@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f9f9f9;
  gap: 32px;
}

.header {
  margin: 0;
}

.info-container {
  gap: 32px;
  display: flex;
  flex-direction: column;
}

.content-container {
  display: flex;
  gap: 100px;
}
